$font: 'Roboto', sans-serif;
$linkGrey: #707070;
$linkDarkGrey: #606F7B;
$linkBlue: #3072AC;
$linkBlack: #191919;

body {
    margin: 0;
}
a {
    text-decoration: none;
}
  
.header-back {
    width: 100%;
    background: #2d3e49;
    height: 53px;
    position: sticky;
    top: 0;
}

.header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 53px;
    padding: 0;
}

.main-content {
    height: 2000px;
    background: #f5f5f5;
}

.right-side {
    display: flex;
    justify-content: flex-end;
}

.header-nav {
    display: flex;
    
    a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        text-decoration: none;
        width: 70px;

        div {
            font-family: $font;
            font-size: 12px;
            color: #c9d1d7;
        }
        i {
            font-size: 20px;
            padding-bottom: 4px;
        }
        .notification {
            position: absolute;
            top: 4px;
            right: 15px;
            background: #dc565b;
            color: #fff;
            width: fit-content;
            height: 18px;
            padding: 0 6px 0 4px;
            
            border-radius: 50%;
            text-align: center;
            
            font-size: 12px;
            line-height: 18px;
        }
    }
}

.profiles {
    display: flex;

    a {
        text-decoration: none;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 7px;
        margin-top: auto;
        width: 70px;

        .icon-arrow {
            font-size: 6.7px;
        }
    }
}

.prof-pic {
    height: 25px;
    width: 25px;
    background: $linkBlue;
    border: 1px solid #c9d1d7;
    border-radius: 50%;
    padding-bottom: 1px;
}

.border {
    width: 1px;
    height: auto;
    background: #606f7b;
}

.icon-menu {
    margin-bottom: 4px;
}

.prof-txt {
    font-family: $font;
    font-size: 12px;
    color: #c9d1d7;
}

.free {
    text-decoration: none;
    font-size: 12px;
    color: #d8cda8;
    text-align: center;
    display: flex;
    align-items: center;
}

.left-side {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 13px;
}

/* Searchbox START*/
.search-box {
    font-size: 20px;
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    background: #f1f2f5;
    box-sizing: border-box;
    border-radius: 2px;

    input {
        font-size: 14px;
        border: 0;
        background: transparent;
        padding: 0 12px 0 30px;
        width: 238px;
        height: 32px;
        &:focus-visible {
            outline: none;
            }
        }
    svg {
        position: absolute;
        left: 10px;
    }
}
  
  /* Searchbox END*/

.ad-cont {
    align-items: center;
    display: flex;
    justify-content: center;
    background: #F5F5F5;
    font-weight: 700;
    padding: 14px 0;

    .my-ad-link {
        text-decoration: none;
    }
    img {
        height: 2px;
        padding-left: 6px;
    }
    p {
        margin: 0;
        padding-left: 6px;
    }
    span {
        padding-left: 6px;
        font-weight: normal;
        color: $linkGrey;
        font-size: 13px;
    }
}

.page-head {
    height: 317px;
    background: #FFFFFF;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    padding: 0;

    .head-background {
        height: 192px;
        background: #2F2F2F;
    }
    .head-content {
        display: flex;
        justify-content: space-between;
        height: 127px;

        .head-left {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin: 14px 24px 16px;

            .left-first-row {
                display: flex;
                height: 63px;

                .head-prof-pic-back {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 112px;
                    width: 112px;
                    background: #fff;
                    border: 1px solid #DDDDDD;
                    border-radius: 2px;
                    position: relative;
                    top: -60px;

                    .head-prof-pic {
                        background: url('cont/my-pic.jpg') center center;
                        background-size: contain;
                        background-repeat: no-repeat;
                        height: 104px;
                        width: 104px;
                    }
                }
                .head-prof-info {
                    margin-left: 20px;

                    .head-prof-name {
                        font-size: 24px;
                        color: #000;
                        font-weight: bold;
                        text-transform: capitalize;
                    }
                    .prof-small-info {
                        font-size: 14px;
                        color: $linkGrey;
                        line-height: 17px;
                    }
                }
            }

            .go-to-site {
                background: $linkBlue;
                border-radius: 2px;
                text-decoration: none;
                font-weight: bold;
                font-size: 16px;
                color: #fff;
                width: 146px;
                height: 32px;
                display: flex;
                align-items: center;
                justify-content: center;

                svg {
                    height: 12px;
                    padding-left: 10px;
                }
            }
        }
        .head-right {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            .first-row {
                display: flex;
                justify-content: flex-end;

                .prof-follow-link {
                    font-size: 16px;
                    font-weight: 700;
                    color: $linkDarkGrey;

                    img {
                        width: 14px;
                        height: 12px;
                        color: $linkDarkGrey;
                        margin-right: 9px;
                    }
                }
                .follow-more-link {
                    width: 20px;
                    height: 4px;
                    color: $linkGrey;
                    margin: 0 18px;
                }
            }
            .second-row {
                display: flex;
                justify-content: flex-end;

                .prof-pic-circle1 {
                    width: 27px;
                    height: 27px;
                    background: #DDDDDD;
                    border-radius: 50%;
                    position: relative;
                    right: -20px;
                }
                .prof-pic-circle2 {
                    width: 27px;
                    height: 27px;
                    background: $linkBlack;
                    border-radius: 50%;
                    position: relative;
                    right: -10px;
                }
                .prof-pic-circle3 {
                    width: 27px;
                    height: 27px;
                    background: #DDDDDD;
                    border-radius: 50%;
                    z-index: 1;
                }
                .connections {
                    color: $linkBlack;
                    font-weight: bold;
                    font-size: 16px;
                    line-height: 20px;
                    letter-spacing: -0.005em;
                    margin-left: 6px;
                    margin-right: 14px;
                }
            }
            .third-row {
                display: flex;
                justify-content: flex-end;
                color: $linkBlue;
                font-weight: bold;
                font-size: 16px;
                line-height: 20px;
                margin-right: 32px;
            }
        }
    }
}

.page-cont {
    padding: 0;
    margin-top: 24px;
    .left-side-bar {
        width: fit-content;
        .nav {
            flex-direction: column;
            box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
            border-radius: 2px;
            .nav-item {
                width: 217px;
                height: 44px;
                border-bottom: 1px solid #DDDDDD;
                background: #fff;
                a {
                    font-weight: bold;
                    font-size: 14px;
                    line-height: 26px;
                    color: $linkGrey;
                    height: inherit;
                    padding-left: 17px;
                }
                .nav-link.active {
                    border-left: 7px solid #3072ac;
                    padding-left: 10px;
                }
            }
        }
    }
}

.dot {
    height: 2px;
}

  