$font: 'Roboto', sans-serif;
$linkGrey: #707070;
$linkDarkGrey: #606F7B;
$linkBlue: #3072AC;
$linkBlack: #191919;

body {
    margin: 0;
}
a {
    text-decoration: none;
}
  
.header-back {
    width: 100%;
    background: #2d3e49;
    height: 53px;
    position: sticky;
    top: 0;
    z-index: 2;
}

.header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 53px;
    padding: 0;
}

.main-content {
    background: #f5f5f5;
}

.right-side {
    display: flex;
    justify-content: flex-end;
}

.header-nav {
    display: flex;
    
    a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        text-decoration: none;
        width: 70px;

        div {
            font-family: $font;
            font-size: 12px;
            color: #c9d1d7;
        }
        i {
            font-size: 20px;
            padding-bottom: 4px;
        }
        .notification {
            position: absolute;
            top: 4px;
            right: 15px;
            background: #dc565b;
            color: #fff;
            width: fit-content;
            height: 18px;
            padding: 0 6px 0 4px;
            
            border-radius: 50%;
            text-align: center;
            
            font-size: 12px;
            line-height: 18px;
        }
    }
}

.profiles {
    display: flex;

    a {
        text-decoration: none;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 7px;
        margin-top: auto;
        width: 70px;

        .icon-arrow {
            font-size: 6.7px;
        }
    }
}

.prof-pic {
    height: 25px;
    width: 25px;
    background: $linkBlue;
    border: 1px solid #c9d1d7;
    border-radius: 50%;
    padding-bottom: 1px;
}

.border {
    width: 1px;
    height: auto;
    background: #606f7b;
}

.icon-menu {
    margin-bottom: 4px;
}

.prof-txt {
    font-family: $font;
    font-size: 12px;
    color: #c9d1d7;
}

.free {
    text-decoration: none;
    font-size: 12px;
    color: #d8cda8;
    text-align: center;
    display: flex;
    align-items: center;
}

.left-side {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 13px;
}

/* Searchbox START*/
.search-box {
    font-size: 20px;
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    background: #f1f2f5;
    box-sizing: border-box;
    border-radius: 2px;

    input {
        font-size: 14px;
        border: 0;
        background: transparent;
        padding: 0 12px 0 30px;
        width: 238px;
        height: 32px;
        &:focus-visible {
            outline: none;
            }
        }
    svg {
        position: absolute;
        left: 10px;
    }
}
  
  /* Searchbox END*/

.ad-cont {
    align-items: center;
    display: flex;
    justify-content: center;
    background: #F5F5F5;
    font-weight: 700;
    padding: 14px 0;

    .my-ad-link {
        text-decoration: none;
    }
    img {
        height: 2px;
        padding-left: 6px;
    }
    p {
        margin: 0;
        padding-left: 6px;
    }
    span {
        padding-left: 6px;
        font-weight: normal;
        color: $linkGrey;
        font-size: 13px;
    }
}

.page-head {
    height: 317px;
    background: #FFFFFF;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    padding: 0;

    .head-background {
        height: 192px;
        background: #2F2F2F;
    }
    .head-content {
        display: flex;
        justify-content: space-between;
        height: 127px;

        .head-left {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin: 14px 24px 16px;

            .left-first-row {
                display: flex;
                height: 63px;

                .head-prof-pic-back {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 112px;
                    width: 112px;
                    background: #fff;
                    border: 1px solid #DDDDDD;
                    border-radius: 2px;
                    position: relative;
                    top: -60px;

                    .head-prof-pic {
                        background: url('cont/my-pic.jpg') center center;
                        background-size: contain;
                        background-repeat: no-repeat;
                        height: 104px;
                        width: 104px;
                    }
                }
                .head-prof-info {
                    margin-left: 20px;

                    .head-prof-name {
                        font-size: 24px;
                        color: #000;
                        font-weight: bold;
                        text-transform: capitalize;
                    }
                    .prof-small-info {
                        font-size: 14px;
                        color: $linkGrey;
                        line-height: 17px;
                    }
                }
            }

            .go-to-site {
                background: $linkBlue;
                border-radius: 2px;
                text-decoration: none;
                font-weight: bold;
                font-size: 16px;
                color: #fff;
                width: 146px;
                height: 32px;
                display: flex;
                align-items: center;
                justify-content: center;

                svg {
                    height: 12px;
                    padding-left: 10px;
                }
            }
        }
        .head-right {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            .first-row {
                display: flex;
                justify-content: flex-end;

                .prof-follow-link {
                    font-size: 16px;
                    font-weight: 700;
                    color: $linkDarkGrey;

                    img {
                        width: 14px;
                        height: 12px;
                        color: $linkDarkGrey;
                        margin-right: 9px;
                    }
                }
                .follow-more-link {
                    width: 20px;
                    height: 4px;
                    color: $linkGrey;
                    margin: 0 18px;
                }
            }
            .second-row {
                display: flex;
                justify-content: flex-end;

                .prof-pic-circle1 {
                    width: 27px;
                    height: 27px;
                    background: #DDDDDD;
                    border-radius: 50%;
                    position: relative;
                    right: -20px;
                }
                .prof-pic-circle2 {
                    width: 27px;
                    height: 27px;
                    background: $linkBlack;
                    border-radius: 50%;
                    position: relative;
                    right: -10px;
                }
                .prof-pic-circle3 {
                    width: 27px;
                    height: 27px;
                    background: #DDDDDD;
                    border-radius: 50%;
                    z-index: 1;
                }
                .connections {
                    color: $linkBlack;
                    font-weight: bold;
                    font-size: 16px;
                    line-height: 20px;
                    letter-spacing: -0.005em;
                    margin-left: 6px;
                    margin-right: 14px;
                }
            }
            .third-row {
                display: flex;
                justify-content: flex-end;
                color: $linkBlue;
                font-weight: bold;
                font-size: 16px;
                line-height: 20px;
                margin-right: 32px;
            }
        }
    }
}

.page-cont {
    display: grid;
    grid-template-columns: 0.9fr 2fr 1.2fr;
    padding: 0;
    margin-top: 24px;
    .left-side-bar {
        width: fit-content;
        .nav {
            flex-direction: column;
            box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
            border-radius: 2px;
            position: sticky;
            top: 68px;
            .nav-item {
                width: 217px;
                height: 44px;
                border-bottom: 1px solid #DDDDDD;
                background: #fff;
                a {
                    font-weight: bold;
                    font-size: 14px;
                    line-height: 26px;
                    color: $linkGrey;
                    height: inherit;
                    padding-left: 17px;
                    
                }
                .nav-link.active {
                    border-left: 7px solid #3072ac;
                    padding-left: 10px;
                    transition: 1.2s;
                }
            }
        }
    }
    .middle-content {
        .middle-top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 552px;
            margin-bottom: 15px;
            .middle-nav {
                display: flex;
                ul {
                    display: flex;
                    list-style: none;
                    padding-left: 0;
                    margin-bottom: 0;
                    .post-item {
                        display: flex;
                        color: $linkGrey;
                        font-weight: bold;
                        font-size: 16px;
                        line-height: 20px;
                        padding: 7px 12px;
                        background: #E1E5E8;
                        border-radius: 16px;
                        margin-right: 9px;
                        transition: 1s;
                    }
                    .post-item.active {
                        color: #fff;
                        background: $linkDarkGrey;
                        transition: 1s;
                    }
                }
                
            }
            .sort {
                font-size: 12px;
                line-height: 14px; 
                color: $linkGrey;
                .sort-type {
                    font-weight: bold;
                    font-size: 12px; 
                    color: $linkBlack;
                    .icon-arrow {
                        font-size: 8px;
                        color: $linkGrey;
                        padding-left: 5px;
                    }
                }
            }
        }
    }
}

.post {
    width: 552px;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
    &__prof-pic {
        height: 40px;
        width: 40px;
        background: $linkBlack;
    }
    .row-1 {
        padding: 18px 18px 9px 20px;
        display: grid;
        grid-template-columns: 10% 1fr 10%;

        .prof-info {
            .prof-name {
                font-size: 24px;
                color: #000;
                font-weight: bold;
                text-transform: capitalize;
                line-height: 18px;
            }
            div {
                font-size: 13px;
                color: $linkGrey;
                .dot {
                    padding: 0 5px;
                }
            }
        }
        .more {
            width: 20px;
            height: 4px;
            color: #707070;
            justify-self: end;
        }
    }
    .post-desc {
        padding: 0 18px 2px 20px;
        font-size: 14px;
        letter-spacing: -0.025em;
        color: $linkBlack;
        margin: 0;
    }
    .post-link {
        font-size: 15px;
        font-weight: 500;
        color: $linkBlue;
        margin: 0 18px 10px 20px;

    }
    >img {
        height: 310px;
        margin-top: 10px;
    }
    .img-name {
        font-weight: bold;
        font-size: 14px;
        color: $linkBlack;
        padding: 10px 12px 12px;
        border-bottom: 1px solid #DDDDDD;
    }
    .all-reactions {
        display: flex;
        font-size: 13px;
        color: $linkGrey;
        margin: 7px 16px 0 16px;
        padding-bottom: 8px;
        border-bottom: 1px solid #DDDDDD;
    }
    .my-reactions {
        display: flex;
        align-items: center;
        font-weight: bold;
        font-size: 14px;
        color: $linkGrey;
        margin: 15px auto 20px 16px;
        padding-bottom: 20px;
        i {
            height: 22px;
            font-size: 20px;
        }
        span {
            padding-right: 16px;
            padding-left: 6px;
        }
    }
}

.right-sidebar {
    justify-self: end;
    .right-sidebar-ad {
        display: grid;
        width: 311px;
        background: #fff;
        box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
        border-radius: 2px;
        margin-bottom: 14px;
        .ad-notice1 {
            justify-self: end;
            font-size: 13px;
            color: $linkGrey;
            display: flex;
            align-items: center;
            padding: 14px 15px 10px;
            .more {
                height: 2px;
                margin-left: 10px;
            }
        }
        .ad-text1 {
            font-size: 13px;
            color: $linkGrey;
            text-align: center;
            margin-bottom: 14px;
        }
        .ad-imgs {
            display: flex;
            justify-self: center;
            margin-bottom: 14px;
            .ad-prof-pic {
                width: 70px;
                height: 70px;
                background: $linkBlue;
                border-radius: 50%;
                margin-right: 19px;
            }
            img {
                width: 70px;
                height: 70px;
                border-radius: 2px;
            }
        }
        .ad-text2 {
            font-size: 15px;
            letter-spacing: -0.015em;
            text-align: center;
            color: $linkGrey;
            margin-bottom: 6px;
        }
        .ad-name {
            font-size: 15px;
            font-weight: bold;
            letter-spacing: -0.015em;
            text-align: center;
            color: $linkGrey;
            margin-bottom: 10px;
        }
        .ad-follow {
            justify-self: center;
            font-weight: bold;
            font-size: 16px;
            color: $linkBlue;
            border: 1px solid #3072AC;
            box-sizing: border-box;
            border-radius: 2px; 
            width: fit-content;
            padding: 6px 15px;
            margin-bottom: 20px;
        }
    }
    .sim-pages {
        width: 311px;
        background: #fff;
        box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
        border-radius: 2px;
        .sim-header {
            font-size: 18px;
            line-height: 21px;
            color: $linkBlack;
            width: fit-content;
            padding: 16px 16px 28px 15px;
        }
        .sim-prof {
            display: flex;
            margin-bottom: 15px;
            img {
                height: 48px;
                width: 48px;
                margin-left: 10px;
            }
            .sim-right {
                display: flex;
                justify-content: space-between;
                margin-left: 13px;
                border-bottom: 1px solid #DDDDDD;
                width: -webkit-fill-available;
                height: 60px;
                .sim-desc {
                    height: fit-content;
                    .sim-name {
                        color: $linkBlack;
                        font-weight: bold;
                        font-size: 15px;
                        line-height: 20px;
                        margin-bottom: 3px;
                    }
                    .industry {
                        font-size: 15px;
                        line-height: 18px;
                        color: $linkGrey;
                    }
                }
                a {
                    color: $linkBlue;
                    font-size: 15px;
                    font-weight: bold;
                    height: fit-content;
                    align-self: center;
                    margin-right: 27px;
                    margin-bottom: 20px;
                }
            }
            
        }
        .sim-prof:nth-child(4) {
            border-bottom: 1px solid #DDDDDD;
            margin-bottom: 0;
            .sim-right:nth-child(2) {
                border: none;
            }
        }
        .show {
            display: flex;
            justify-content: center;
            color: $linkBlue;
            font-weight: 500;
            font-size: 15px;
            line-height: 20px;
            padding-top: 13px;
            padding-bottom: 18px;
            img {
                padding-left: 6px;
            }
            
        }
    }
}

.dot {
    height: 2px;
}

@media only screen and (min-width: 1400px) {
    .page-cont .middle-content .middle-top {
        width: auto;
    }

    .post {
        width: auto;
    }

    .post > img {
        height: auto;
        width: -webkit-fill-available;
    }
}

@media only screen and (max-width: 1200px) {
    .right-sidebar {
        display: none;
    }
    .page-cont {
        grid-template-columns: 0.7fr 2fr;
    }
    .middle-top {
        width: auto!important;
    }
    .post {
        width: auto;
        > img {
            height: unset;
            width: -webkit-fill-available;
        }
    }
}

@media only screen and (max-width: 991px) {

    .free {
        display: none;
    }

    .page-cont {
        grid-template-columns: 33% 67%;
        .middle-cont {
            .middle-top {
                width: auto!important;
            }
        }
        
    }
    
    .header-nav {
        a {
            width: 56px;
            div {
                display: none;
            }
        }
    }

    .page-head {
        height: 330px;
        .head-content {
            height: 140px;
        }
    }

    .page-head .head-content .head-left .left-first-row .head-prof-pic-back {
        top: -44px;
    }

}

@media only screen and (max-width: 770px) {

    .search-box input {
        width: 134px;
    }

    .header-nav a {
        width: 48px;
    }

    .profiles a {
        width: 58px;
    }

    .page-head .head-content .head-left .left-first-row .head-prof-info .head-prof-name, .post .row-1 .prof-info .prof-name {
        font-size: 16px;
    }

    .page-head .head-content .head-right .second-row .connections {
        font-size: 14px;
        margin-right: 10px;
        width: 150px;
        text-align: right;
    }

    .page-head .head-content .head-right .third-row {
        font-size: 14px;
        margin-right: 10px;
    }

    .page-head {
        height: 340px;
    }

    .page-head .head-content {
        height: 150px;
    }

    .page-head .head-content .head-left .left-first-row .head-prof-pic-back {
        top: -39px;
    }

    .page-cont .left-side-bar .nav .nav-item {
        width: 162px;
    }

    .page-cont .middle-content .middle-top .middle-nav ul .post-item {
        font-size: 14px;
        line-height: 18px;
    }

    .post .row-1 {
        grid-template-columns: 16% 1fr 10%;
    }

    .ad-cont {
        font-size: 13px;
    }
}